body {
    margin: 8px;
}

button {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 5px 3px;
    width: 95%;
    text-align: center;
    font-size: 14px;
}

button:hover {
    background-color: #286090;
    border-color: #204d74;
}

ul {
    padding-left: 15px;
}

a {
    color: #1a0dab;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

#bookmarkSection, #local {
    display: none;
}

footer {
    color: #555;
    font-size: 10px;
    text-align: center;
    margin-top: 7px;
}
footer > a {
    color: #555;
}
